%script{ :type => 'text/javascript', :src => 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBJUA9esZhAFnonE_VvcSL8OM7jyqB2js0&sensor=true'  }
:javascript
	function init(){
		var mapOptions = {
			center: new google.maps.LatLng(3.185,101.695),
			zoom:10
		};
		var map = new google.maps.Map(document.getElementById('map'), mapOptions);

		//get some co-ordinates for testings
	};	
	google.maps.event.addDomListener(window, 'load', init);
#map{ :style => 'min-height:1000px;' }
